<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Northside Youth Soccer League</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link rel="icon" href="favicon.ico" sizes="48x48" type="image/png">

  <!-- googlefonts -->
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Open+Sans|Mukta+Mahee|Noto+Sans" rel="stylesheet">
  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
  <div id="app">
  <header>
    <div class="logo" v-on:click="currentPage('landing')">
      <img src="nysl_logo.png" alt="nysl-official-logo">
    </div>
    <div class="title">
      <h1 class="header-title">Northside Youth<br> Soccer League</h1>
    </div>
  </header>

    <div class="container">
      <div class="landing" id="landing" v-if="currentpage == 'landing'">
        <h2 class="text-center">Upcoming Games</h2>
        <div class="upcoming-games">
          <div class="shieldbox">
            <img v-bind:src='shields[0]' alt="florida" class="shield-top">
            <span class="vs"><i class="fab fa-battle-net"></i></span>
            <img v-bind:src="shields[3]" alt="losAngeles" class="shield-top">
          </div>

          <div class="text-center height" v-if="dataIsLoaded">
            <p><span>{{object.games[0].date}}</span> <a v-on:click="confirmMap(locations.AJKatzenmeier.link)">@{{locations.AJKatzenmeier.name}}</a></p>

          </div>
          <div class="shieldbox">
            <img v-bind:src='shields[2]' alt="Seattle" class="shield-top">
            <span class="vs"><i class="fab fa-battle-net"></i></span>
            <img v-bind:src="shields[1]" alt="Manhattan" class="shield-top">
          </div>
          <div class="text-center height" v-if="dataIsLoaded">
            <p><span>{{object.games[1].date}}</span> <a v-on:click="confirmMap(locations.Greenbay.link)">@{{object.games[1].location}}</a></p>
          </div>

        </div>
      </div>
      <!-- schedule page -->
      <div class="schedule" v-if="currentpage == 'schedule'">
        <h2 class="text-center">Game Information</h2>
        <!-- search filter -->
        <div class="schedule-search" id="filter">
          <p>Month:</p>
          <select class="" name="month" id='month' @change="storeMonth">
            <option value="all">Select Month</option>
            <option v-for="month in months" v-bind:value="month" >{{month}}</option>
          </select>
          <p>Team:</p>
          <select class="" name="team" id="team" @change="storeTeam">
            <option value="all">Select Team</option>
            <option v-for='team in teams' v-bind:value="team">{{team}}</option>
          </select>
          <p>Location:</p>
          <select class="" name="location" id='location' @change="storeLocation">
            <option value="all">Select Location</option>
            <option v-for="location in locations" v-bind:value="location.name">{{location.name}}</option>
          </select>
          <button type="button" name="button" class="" v-on:click="currentPage('result')">Find&nbsp;<i class="fas fa-search"></i></button>
        </div>

      </div>
      <!-- schedule result -->
      <div class="schedule-result" v-if="currentpage =='result'">
        <h2 class="text-center">Game Information</h2>
        <div class="result-msg">
          <div class="noresults"><p v-if='filterData ==0'>No results&nbsp;<i class="far fa-frown"></i><br>Try again!&nbsp;</p>
        </div>
          <button type="button" name="button" class="back" v-on:click="currentPage('schedule')"><span>Back</span><i class="fas fa-share arrow"></i></button>
        </div>
        <table class="result-table">
          <tr v-for="game in filterData">
            <td class="width2"><img v-bind:src='teamsObject[game.team].shield' class="shield"></td>
            <td class="width1">{{teamsObject[game.team].name}}</td>
            <td class="width2">{{game.date}}<br>{{locations[game.location].name}}</td>
            <td class="width1">{{teamsObject[game.opponent].name}}</td>
            <td class="width2"><img v-bind:src='teamsObject[game.opponent].shield' class="shield"></td>
          </tr>
        </table>
      </div>

      <!-- location -->
      <div class="location-page" v-if="currentpage == 'location'">
        <h2 class="text-center">Game Locations</h2>
        <div class="accordion" v-for='location in locations'>

            <button type="button" name="button" class="map-acc" v-on:click='openAccordion(location.name)'>{{location.name}}</button>
            <p class="embed" v-bind:id="location.name"><iframe v-bind:src="location.map" width="360" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></p>

        </div>
      </div>
    </div>

  <footer>
    <div class="nav" v-on:click="currentPage('landing')">
      <!-- Home -->
      <i class="fas fa-home" style="font-size:40px; color:white;" ></i>
    </div>
    <div class="nav" v-on:click="currentPage('schedule')">
      <!-- Schedule -->
      <i class="far fa-futbol" style="font-size:40px;color:white;"></i>
    </div>
    <div class="nav" v-on:click="currentPage('location')">
      <!-- Locations -->
      <i class="fas fa-map-marker-alt" style="font-size:40px;color:white;"></i>
    </div>
    <div class="nav">
      <!-- Chat -->
      <i class="fas fa-paper-plane " style="font-size:40px;color:white;"></i>
    </div>
  </footer>
</div>
  <!-- vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script type="text/javascript" src="main.js"></script>

</body>

</html>
